<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
	    <%- if controller_name == 'registrations' || controller_name == 'students'%>
			<li class="nav-item">
			   <%= link_to 'Log in', students_path, class: 'nav-link' %>
			</li>
		<%end%>
		<%- if controller_name != 'registrations' || controller_name == 'students'%>
			<li class="nav-item">
		       <%= link_to 'Sign Up', new_user_registration_path , class: 'nav-link'%>
		    </li>
	    <%end%>
		<%- if controller_name != 'students'%>
			<li class="nav-item">
				<%= link_to 'Add New Student', new_student_path, class: 'nav-link' %>
			</li>
		<%end%>
  </ul>
</div>
